.delivery {
    padding: 140px 0;
    background-color: #004047;
}
.delivery__heading {
    margin: 0;
    max-width: 932px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}
.delivery__heading-color {
    color: $title;
}
.delivery__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 92px;
}
.delivery__item {
    list-style: none;
    max-width: 350px;
    width: 100%;
}
.delivery__text {
    margin: 0;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.delivery__user-name {
    margin: 0;
    font-family: "Livvic";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}
.delivery__jobs {
    display: block;
    font-family: "Livvic";
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;

}