.main-content {
    padding-top: 129px;
}
@include breakpoint-down (650) {
    .container {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-content {
        padding-top: 197px;
    }
}
