.site-header {
    padding-top: 75px;
}
.site-header__wrapper {
    display: flex;
    align-items: center;
}
.site-header__toggler {
    width: 20px;
    height: 18px;
    background-color: gold;
    display: none;
    border: none;
}

@include breakpoint-down (650) {
    
    .site-header {
        margin-left: auto;
        margin-right: auto;
        padding-top: 48px;
    }
    .site-header__toggler {
        display: block;
        margin-left: auto;
    }
    
  }
 