.site-header {
    padding-top: 75px;
}
.site-header__wrapper {
    display: flex;
    align-items: center;
}
.site-header__curtain {
    position: absolute;
    z-index: -1;
    background-color: #002529;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.site-header--open .site-header__curtain {
    opacity: 1;
}
.site-header__toggler {
    position: relative;
    z-index: 51;
    display: none;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: gold;
   
}

@include breakpoint-down (650) {
        
    .site-header { 
        padding: 48px 0;
    }
    .site-header__toggler {
        display: block;
        margin-left: auto;
    }
    
  }
 