.site-footer {
    background-color: #002529;
    padding: 48px 0;
}

.footer__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.footer__logo {
    width: 160px;
    height: 40px;
}
.footer__item--inner-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__item--address {
    margin-left: 125px;
}
.footer__item--inner-item {
    margin-top: 25px;
}
.footer__item--inner-link {
    text-decoration: none;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.footer__item--inner-address {
    display: block;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.footer__item--inner-call {
    text-decoration: none;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    &:hover {
        color: rgb(129, 129, 175);
    }
}
.footer__item--last-item {
    margin-left: auto;
}
.footer__item--item {
    margin-bottom: 41px;
}
.footer__item--last-item-list {
    width: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer__item-copyright {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

@include breakpoint-down (800) {
    .site-footer {
        max-width: 100%;
    }
}